@font-face {
    font-family: 'grape_nutsregular';
    src: url('grapenuts-regular-webfont.woff2') format('woff2'),
         url('grapenuts-regular-webfont.woff') format('woff');
         
}   
         
@font-face {
            font-family: 'eurostileregular';
            src: url('eurostile-webfont.woff2') format('woff2'),
                 url('eurostile-webfont.woff') format('woff');
            
        
        }

header
{
margin-right: 10%;
margin-left: 10%;
margin-top: 3%;
}
h2{
    padding-top: 0px;
    margin-top: 0px;
}

.flex-header
{
    display: flex;
    justify-content: flex-end;
}
.component h2 {
    color: #141c3a;
    font-weight: 600;
    font-family: "eurostileregular",Inter, sans-serif;
    font-size: 18px;
    transition: all 0.2s ease;
}

.component h2:hover{
    color:#7510F7;
}
.rubrique_cv
{
margin-right: 10%;
}

.presentation{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    font: inherit;
    
    
}

.presentation_text
{
    text-align: center;
    font-family: 'eurostileregular', sans-serif;
    color: #141c3a;
}

.presentation img
{
    margin: auto;
}
.presentation_text h1{
    font-weight: 800;
    line-height: 1.125;
}

.presentation_text text{
    font-weight: 300;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-size: 20px;
}

.second_svg{

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.signature{

    margin-right: auto;
    
   
}


.signature text{
    transition: all 0.2s ease;
    cursor: pointer;
}

.signature text:hover{
    color: #7510F7;

}

.signature text{
    font-family: "grape_nutsregular", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #141c3a;
   
}

.socialCTA {
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.socialCTA .icon {
    max-width: 100%;
    vertical-align: top;
    width: 50px;
    height: 50px;
}

.social-icons{
    margin: auto;
    margin-top: 3%;
}
.logo:hover{
    color: #7510F7;

}

.logo{
    padding-right: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.biographie{
    background-color: #7510F7;
    padding-top: 10%;
    padding-bottom: 10%;
    grid-column: 1/3;
    grid-row: 1/5;
    min-height: 250px;

}
#biographie_text text{
    color: white;
    text-align: center;
    font-family: 'eurostileregular';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
    
}
#biographie_text{
    margin: 0 23%;
    
}

#biographie_text h2{
    text-align: center;
    font-family: 'eurostileregular';
    font-weight: 800;
    color: white;
    font-size: 32px;

}

.section-grid{
    height: 50rem;
    display: grid;
    grid-template: 30% 5% 5% 10% 20% 30% /100%;
}

.block-competence{

    padding-top: 2rem; 
    width: 25rem;;
    height: 36rem;
    border: 1px solid #d5e3ec;
    border-radius: 8px;
    box-shadow: 0 2px 4px #d8e1e8;
    display: flex; 
    flex-direction: column;
    background-color: white;
    
}
.last{
    border-bottom: none !important;
}
.competence_flex{

    display: flex;
    justify-content: space-around;
    grid-row:5/7;
    grid-column-start: 1;

}

#frontendsvg{
    display: block;
    margin: auto;
    text-align: center;
    color: #7510F7;

}

.presentation h3{
    text-align: center;
    font-size: 28px;
    font-family: 'eurostileregular';
    font-weight: 700;
    
}

.presentation{
    border-bottom: 1px solid #d5e3ec;
    margin-top: 0px;

}
.first{
    margin-top: 8% !important;
}
.container-elements{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    border-bottom: 1px solid #d5e3ec;
}

.element{
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 25px; 
    margin-top: 10px;
    font-size: 20px;
    font-family: 'eurostileregular';
}

.block-competence text{

    font-size: 16px;
    font-family: 'eurostileregular';
    font-weight: 100;
    text-align: center;
    margin: 0.3rem 0;
    
}
.presentation h4{
    font-size: 20px;
    font-family: 'eurostileregular';
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
    color: #7510F7;
}

.fill{
    margin-top: 0.4rem;
    height: 0.5rem;
    
    border: 1px solid #d5e3ec;
    background-color: #7510F7;
}
.notfill{
    margin-top: 0.5rem;
    
    height: 0.5rem;
    border:  1px solid #d5e3ec;
    border-left: none;
}

.progress-bar{
    display: flex;
   

}

.Java .notfill{
width: 40%;
}
.Java .fill{
width: 60%;
}

.C .notfill {
    width: 40%;
}

.C .fill {
    width: 60%;
}

.PHP .notfill {
    width: 50%;
}

.PHP .fill {
    width: 50%;
}

.MySQL .notfill {
    width: 50%;
}

.MySQL .fill {
    width: 50%;
}

.HTML .notfill {
    width: 50%;
}

.HTML .fill {
    width: 50%;
}
.CSS .notfill {
    width: 50%;
}

.CSS .fill {
    width: 50%;
}
.JavaScript .notfill {
    width: 50%;
}

.JavaScript .fill {
    width: 50%;
}

#outilssvg{
    color: #7510F7;
    display: block;
    margin: auto;
}

.text_block{
    font-size: 16px;
    font-family: 'eurostileregular';
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}


#wrap{
    position: relative;
}
#wrap ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    padding: 0;
    width: 10rem;
    border: 1px solid #d8e1e8;
    box-shadow: 0  4px #d8e1e8;
   
   
}
#wrap li{
    padding: 1rem;
    list-style: none;
    color: black;
    border-bottom: 1px solid #d8e1e8;
    text-align: center;
}
.rubrique_jury a{
    text-decoration: none;
    color:#7510F7;
}

#wrap h5{
    padding: 1rem;
    list-style: none;
    color: #6c757d;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #d8e1e8;
    margin: 0;
}

.rubrique_jury h2:after {
    color: #444;
    content: ' ▾';
 }

 .none{
     display: none;
 }

 a{
     text-decoration: none;
 }

 .is-small{
    display: inline-flex;
    background-color: transparent !important;
    color: #7510F7 !important;
    border-radius: 100% !important;
    margin: 0 0.2rem !important;
    height: 47px !important;
    width: 47px !important;
    border: 2px solid #7510F7 !important;
    text-align: center !important;
    justify-content: center;
    transition: all 0.3s ease;
 }
 
 .socialsvg{
     width: 1.5rem;
 }

 .is-small:hover
 {
     color: white !important;
     background-color: #7510F7 !important;
     height: 45px !important;
     width: 45px !important;
 }